<form [formGroup]="loginForm" (ngSubmit)="login()">
  <h2>{{ titulo }}</h2>

  <input formControlName="email" type="email" placeholder="Correo" />
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error-text">
    Correo inválido
  </div>

  <div class="input-contra">
    <input [type]="mostrando ? 'text' : 'password'" formControlName="password" placeholder="Contraseña" />
    <span class="toggle-text" (click)="toggleMostrar()">{{ mostrarTexto }}</span>
  </div>
  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-text">
    Contraseña obligatoria
  </div>

  <button type="submit">{{ botonTexto }}</button>

  <!-- Se elimina el enlace de crear nuevo administrador -->
  
  <div *ngIf="error" class="error-text">{{ error }}</div>
</form>
