<section class="full-carousel">
  <div class="slide" *ngFor="let imagen of imagenes; let i = index" [class.active]="i === imagenActual">
    <img [src]="imagen.url" [alt]="imagen.alt" />

    <div class="overlay"></div>
    <div class="slide-content" [@fadeIn]>
      <h1>{{ imagen.title }}</h1>
      <p>{{ imagen.subtitle }}</p>
      <a [routerLink]="['/formulario', imagen.evento]" class="btn-cta">
        Inscribirme a {{ imagen.title2 }}
      </a>
    </div>
  </div>

  <button class="prev" (click)="anterior()">‹</button>
  <button class="next" (click)="siguiente()">›</button>
</section>
