<section class="full-carousel" *ngIf="!cargando && imagenes.length > 0">
  <div class="slide active">
    <img [src]="imagenActualObj.url" [alt]="imagenActualObj.nombreEvento" />

    <div class="overlay"></div>

    <div class="slide-content">
      <h1>{{ imagenActualObj.title }}</h1>
      <p>{{ imagenActualObj.subtitle }}</p>
      <a [routerLink]="['/formulario', imagenActualObj.evento]" class="btn-cta">
        Inscribirme a {{ imagenActualObj.nombreEvento }}
      </a>
      <img [src]="imagenActualObj.imagen" *ngIf="imagenActualObj.imagen" />
    </div>
  </div>

  <button class="prev" (click)="anterior()">‹</button>
  <button class="next" (click)="siguiente()">›</button>
</section>

<div *ngIf="cargando" class="loading">Cargando...</div>
